﻿@model newAcargo.Models.Calculations.CalculationParameterSet

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
    
}

<h2>Crear Set de Parametrizacion</h2>

<hr />

<div class="row">
    <div class="col-md-8">
        
        <div class="card m-b-30">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FactorDivisor" class="control-label"></label>
                        <input type="number" asp-for="FactorDivisor" class="form-control" asp-format="{0:N2}" />
                        <span asp-validation-for="FactorDivisor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PricePickup" class="control-label"></label>
                        <input type="number" asp-for="PricePickup" class="form-control" asp-format="{0:N2}" />
                        <span asp-validation-for="PricePickup" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PriceDelivery" class="control-label"></label>
                        <input type="number" asp-for="PriceDelivery" class="form-control" asp-format="{0:N2}" />
                        <span asp-validation-for="PriceDelivery" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ComisionPorcentage" class="control-label"></label>
                        <input type="number" asp-for="ComisionPorcentage" class="form-control" asp-format="{0:N2}" />
                        <span asp-validation-for="ComisionPorcentage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MinimumPrice" class="control-label"></label>
                        <input type="number" asp-for="MinimumPrice" class="form-control" asp-format="{0:N2}" />
                        <span asp-validation-for="MinimumPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MinimumDistance" class="control-label"></label>
                        <input type="number" asp-for="MinimumDistance" class="form-control" asp-format="{0:N2}" />
                        <span asp-validation-for="MinimumDistance" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VolumeWeightDivisor" class="control-label"></label>
                        <input type="number" asp-for="VolumeWeightDivisor" class="form-control" asp-format="{0:N2}" />
                        <span asp-validation-for="VolumeWeightDivisor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FtlPerKm" class="control-label"></label>
                        <input type="number" asp-for="FtlPerKm" class="form-control" asp-format="{0:N2}" />
                        <span asp-validation-for="FtlPerKm" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-info" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 

    <div>
        <a asp-action="Index">De Vuelta a la lista</a>
    </div>
<br /><br />


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
