﻿@model newAcargo.Models.Calculations.CalculationParameterSet

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

<h2>Borrar el set de Parametros  @Html.DisplayFor(model => model.Nombre)</h2>



@if (ViewBag.CannotDeleteProtected != null)
{
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-danger">
                <strong>ERROR!</strong> @ViewBag.CannotDeleteProtected
            </div>
        </div>
    </div>
    
}

<div class="row">
    <div class="col-md-8">
        <div class="card m-b-30">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th><p>Parametro</p></th>
                            <th><p>Valor</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Nombre)</td>
                            <td>@Html.DisplayFor(model => model.Nombre)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ComisionPorcentage)</td>
                            <td>@Html.DisplayFor(model => model.ComisionPorcentage)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.FactorDivisor)</td>
                            <td>@Html.DisplayFor(model => model.FactorDivisor)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.FtlPerKm)</td>
                            <td>@Html.DisplayFor(model => model.FtlPerKm)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MinimumDistance)</td>
                            <td>@Html.DisplayFor(model => model.MinimumDistance)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MinimumPrice)</td>
                            <td>@Html.DisplayFor(model => model.MinimumPrice)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.PricePickup)</td>
                            <td>@Html.DisplayFor(model => model.PricePickup)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.PriceDelivery)</td>
                            <td>@Html.DisplayFor(model => model.PriceDelivery)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.VolumeWeightDivisor)</td>
                            <td>@Html.DisplayFor(model => model.VolumeWeightDivisor)</td>
                        </tr>
                    </tbody>
                </table>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger btn-block" />
                    <br />
                    <a asp-action="Index">Volver a la lista</a>
                </form>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />


