﻿@model newAcargo.Models.Calculations.CalculationParameterSet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

<h2>Detalles para Set de Parametrizacion "@Html.DisplayFor(model => model.Nombre)"</h2>
<div class="row">
    <div class="col-md-8">
        <div class="card m-b-30">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><p>Parametro</p></th>
                            <th><p>Valor</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Nombre)</td>
                            <td>@Html.DisplayFor(model => model.Nombre)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ComisionPorcentage)</td>
                            <td>@Html.DisplayFor(model => model.ComisionPorcentage)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.FactorDivisor)</td>
                            <td>@Html.DisplayFor(model => model.FactorDivisor)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.FtlPerKm)</td>
                            <td>@Html.DisplayFor(model => model.FtlPerKm)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MinimumDistance)</td>
                            <td>@Html.DisplayFor(model => model.MinimumDistance)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MinimumPrice)</td>
                            <td>@Html.DisplayFor(model => model.MinimumPrice)</td>
                        </tr>

                        <tr>
                            <td>@Html.DisplayNameFor(model => model.PricePickup)</td>
                            <td>@Html.DisplayFor(model => model.PricePickup)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.PriceDelivery)</td>
                            <td>@Html.DisplayFor(model => model.PriceDelivery)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.VolumeWeightDivisor)</td>
                            <td>@Html.DisplayFor(model => model.VolumeWeightDivisor)</td>
                        </tr>
                        <tr>
                            <td>Activo</td>
                            <td>@Html.DisplayFor(model => model.Active)</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    @if (Model.Protected == false)
                    {
                        <a asp-action="Edit" class="btn btn-sm btn-info btn-block" asp-route-id="@Model.Id"><i class="fa fa-edit"></i> Editar</a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<a asp-action="Index">Volver a la Lista</a>
<br />
<br />

