﻿@model newAcargo.Models.Calculations.CalculationParameterSet

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

<h2>Editar Set de Parametros "@Model.Nombre"</h2>

@if (Model.Protected == false)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FactorDivisor" class="control-label"></label>
                            <input asp-for="FactorDivisor" class="form-control" />
                            <span asp-validation-for="FactorDivisor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PricePickup" class="control-label"></label>
                            <input asp-for="PricePickup" class="form-control" />
                            <span asp-validation-for="PricePickup" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PriceDelivery" class="control-label"></label>
                            <input asp-for="PriceDelivery" class="form-control" />
                            <span asp-validation-for="PriceDelivery" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ComisionPorcentage" class="control-label"></label>
                            <input asp-for="ComisionPorcentage" class="form-control" />
                            <span asp-validation-for="ComisionPorcentage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MinimumPrice" class="control-label"></label>
                            <input asp-for="MinimumPrice" class="form-control" />
                            <span asp-validation-for="MinimumPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MinimumDistance" class="control-label"></label>
                            <input asp-for="MinimumDistance" class="form-control" />
                            <span asp-validation-for="MinimumDistance" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VolumeWeightDivisor" class="control-label"></label>
                            <input asp-for="VolumeWeightDivisor" class="form-control" />
                            <span asp-validation-for="VolumeWeightDivisor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FtlPerKm" class="control-label"></label>
                            <input asp-for="FtlPerKm" class="form-control" />
                            <span asp-validation-for="FtlPerKm" class="text-danger"></span>
                        </div>
                        <div class="alert alert-danger">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="Active" /> Configurar como Activo
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-block"><i class="fa fa-save"></i> Guardar Cambios</button>
                        </div>
                        <a asp-action="Index">Volver a la Lista</a>
                    </form>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-danger">
                <strong>ERROR!</strong> Los Parametros predeterminados no se pueden editar
            </div>
        </div>
    </div>
}
<hr />

<br /><br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
