﻿@model IEnumerable<newAcargo.Models.Calculations.CalculationParameterSet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

  
<h2>PARAMETRIZACION</h2>
<br />
<div class="row">
    <div class="col-md-8">
        <div class="card m-b-30">
            <div class="card-body">
                    <h3>Set de Parametros Activo:</h3>
                    <h5>@ViewBag.Nombre</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><b>Parametro</b></th>
                                <th><b>Valor</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cargo Fijo de Recogida</td>
                                <td>@ViewBag.PricePickup</td>
                            </tr>
                            <tr>
                                <td>Cargo fijo de Entrega</td>
                                <td>@ViewBag.PriceDelivery</td>
                            </tr>
                            <tr>
                                <td>Distancia Minima para un Envio</td>
                                <td>@ViewBag.MinimumDistance</td>
                            </tr>
                            <tr>
                                <td>Divisor Peso/Volumen </td>
                                <td>@ViewBag.VolumeWeightDivisor</td>
                            </tr>
                            <tr>
                                <td>Precio Minimo</td>
                                <td>@ViewBag.MinimumPrice</td>
                            </tr>
                            <tr>
                                <td>Denominador Divisor</td>
                                <td>@ViewBag.FactorDivisor</td>
                            </tr>
                            <tr>
                                <td>Porcentaje de Comision</td>
                                <td>@ViewBag.ComisionPorcentage</td>
                            </tr>
                        </tbody>
                    </table>              
            </div>
        </div>
        <p>
            <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> Crear Nuevo Set de Parametrizacion</a>
            @if (ViewBag.Protected == false)
            {
                <a asp-action="ActivateStandard" class="btn btn-danger"><i class="fa fa-edit"></i> Volver a Configuracion Original</a>
            }

        </p>

        <div class="card m-b-30">
            <div class="card-body">
                <h3>Parametros Inactivos</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre de Parametrizacion</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Active)</td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-default"><i class="fas fa-eye"></i> Ver</a>
                                    @if (item.Protected == false)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-default"><i class="fas fa-edit"></i> Editar</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-default"><i class="fas fa-trash"></i> Borrar</a>
                                    }
                                    


                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="card-title font-20 mt-0">Parametrizacion</h4>
                <h6 class="card-subtitle text-muted">Configura los parametros de Calculo y otros valores</h6>
            </div>
            <img class="img-fluid" src="~/images/n-math-a-20161130-870x580.jpg" alt="Math" />
            <div class="card-body">
                <p class="card-text">
                    Aqui puedes configurar los parametros de calculo de las formulas y otros valores monetarios para el comportamiento de la web.<br />
                    Solo puede haber un registro <b>ACTIVO</b>, este registro contendra todos los parametros los cuales la WebApp va a utilizar para realizar los calculos.
                </p>
                <a href="#" class="card-link">Ir a Ayuda</a>

            </div>
        </div>
    </div>

</div>

