/*
Template Name: Upcube - Bootstrap 4 Admin Dashboard
Author: Themesdesign
Website: www.themesdesign.in
File: Main Css File
*/
/*
1. General
2. Loader
3. Bootstrap Custom
4. Alerts
5. Helper
6. Waves
7. Print
8. Demo Only
9. Buttons
10. Cards
11. Pagination
12. Progressbars
13. Popovers & Tooltips
14. Sweet Alert
15. Nestable
16. Alertify
17. Charts
18. Tables
19. Rage Slider
20. Session Timeout
21. Form Elements
22. Form Advanced
23. Form Validation
24. Form Uploads
25. Summernote
26. Calendar
27. Widgets
28. Timeline
29. Invoice
30. Maps
31. Account pages
32. Menu
33. Responsive
*/
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);body,html{background:#eff3f6}.spinner:after,.spinner:before{content:''}.custom-dd-empty .dd-list .dd3-content,.morris-hover.morris-default-style,.swal2-modal,body{font-family:Arimo,sans-serif}.chart,.chartist-tooltip,.footer,.icon-demo-content,.input-group-addon,.waves-circle{text-align:center}body{margin:0;font-size:15px}html{overflow-x:hidden;position:relative;min-height:100%}h1,h2,h3,h4,h5,h6{margin:10px 0;font-weight:700}h1{line-height:43px}h2{line-height:35px}h3{line-height:30px}h3 small,h4 small,h5 small{color:#444}h4{line-height:22px}*{outline:0!important}a:active,a:focus,a:hover{outline:0;text-decoration:none}code{color:#0097a7}.container-alt{margin-left:auto;margin-right:auto;padding-left:15px;padding-right:15px}.footer{background-color:#f9f9f9;border-top:1px solid rgba(0,0,0,.05);bottom:0;color:#0a1832;padding:20px 30px;position:absolute;right:0;left:240px}#preloader,.page{top:0;left:0;right:0;bottom:0}#wrapper{height:100%;overflow:hidden;width:100%}.social-links li a{-webkit-border-radius:50%;background:#fcfdfd;border-radius:50%;color:#9f9f9f;display:inline-block;height:30px;line-height:30px;text-align:center;width:30px}#preloader{position:fixed;background-color:#eff3f6;z-index:9999999}#status,.spinner,.spinner:after,.spinner:before{position:absolute;left:50%}#status{width:40px;height:40px;top:50%;margin:-20px 0 0 -20px}.spinner{width:78px;height:78px;margin-left:-39px;margin-top:-39px}.spinner:before{width:45px;height:45px;top:50%;margin-top:-23px;margin-left:-23px;border-width:2px 1px;border-style:solid;border-color:#0097a7 rgba(0,151,167,.3);border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;animation:spin 3.45s infinite;-o-animation:spin 3.45s infinite;-ms-animation:spin 3.45s infinite;-webkit-animation:spin 3.45s infinite;-moz-animation:spin 3.45s infinite}.spinner:after{width:12px;height:12px;top:50%;margin-top:-6px;margin-left:-6px;background-color:#0097a7;border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;animation:pulse 6.9s infinite,borderPulse 6.9s infinite;-o-animation:pulse 6.9s infinite,borderPulse 6.9s infinite;-ms-animation:pulse 6.9s infinite,borderPulse 6.9s infinite;-webkit-animation:pulse 6.9s infinite,borderPulse 6.9s infinite;-moz-animation:pulse 6.9s infinite,borderPulse 6.9s infinite}@keyframes spin{0%{transform:rotate(0)}50%{transform:rotate(360deg)}100%{transform:rotate(1080deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0)}50%{-o-transform:rotate(360deg)}100%{-o-transform:rotate(1080deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0)}50%{-ms-transform:rotate(360deg)}100%{-ms-transform:rotate(1080deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0)}50%{-webkit-transform:rotate(360deg)}100%{-webkit-transform:rotate(1080deg)}}@-moz-keyframes spin{0%{-moz-transform:rotate(0)}50%{-moz-transform:rotate(360deg)}100%{-moz-transform:rotate(1080deg)}}@keyframes pulse{0%,13%,30%,43%,74%{background-color:rgba(0,151,167,.2)}100%,15%,28%,45%,70%{background-color:rgba(0,151,167,.9)}}@-o-keyframes pulse{0%,13%,30%,43%,74%{background-color:rgba(0,151,167,.2)}100%,15%,28%,45%,70%{background-color:rgba(0,151,167,.9)}}@-ms-keyframes pulse{0%,13%,30%,43%,74%{background-color:rgba(0,151,167,.2)}100%,15%,28%,45%,70%{background-color:rgba(0,151,167,.9)}}@-webkit-keyframes pulse{0%,13%,30%,43%,74%{background-color:rgba(0,151,167,.2)}100%,15%,28%,45%,70%{background-color:rgba(0,151,167,.9)}}@-moz-keyframes pulse{0%,13%,30%,43%,74%{background-color:rgba(0,151,167,.2)}100%,15%,28%,45%,70%{background-color:rgba(0,151,167,.9)}}@keyframes borderPulse{0%{box-shadow:0 0 0 0 #fff,0 0 0 1px rgba(0,151,167,.8)}40%{box-shadow:0 0 0 1px #fff,0 0 0 2px rgba(0,151,167,.8)}80%{box-shadow:0 0 0 3px #fff,0 0 1px 3px rgba(0,151,167,.8)}}@-o-keyframes borderPulse{0%{box-shadow:0 0 0 0 #fff,0 0 0 1px rgba(0,151,167,.8)}40%{box-shadow:0 0 0 1px #fff,0 0 0 2px rgba(0,151,167,.8)}80%{box-shadow:0 0 0 3px #fff,0 0 1px 3px rgba(0,151,167,.8)}}@-ms-keyframes borderPulse{0%{box-shadow:0 0 0 0 #fff,0 0 0 1px rgba(0,151,167,.8)}40%{box-shadow:0 0 0 1px #fff,0 0 0 2px rgba(0,151,167,.8)}80%{box-shadow:0 0 0 3px #fff,0 0 1px 3px rgba(0,151,167,.8)}}@-webkit-keyframes borderPulse{0%{box-shadow:0 0 0 0 #fff,0 0 0 1px rgba(0,151,167,.8)}40%{box-shadow:0 0 0 1px #fff,0 0 0 2px rgba(0,151,167,.8)}80%{box-shadow:0 0 0 3px #fff,0 0 1px 3px rgba(0,151,167,.8)}}@-moz-keyframes borderPulse{0%{box-shadow:0 0 0 0 #fff,0 0 0 1px rgba(0,151,167,.8)}40%{box-shadow:0 0 0 1px #fff,0 0 0 2px rgba(0,151,167,.8)}80%{box-shadow:0 0 0 3px #fff,0 0 1px 3px rgba(0,151,167,.8)}}@-webkit-keyframes load8{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes load8{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.breadcrumb{background-color:transparent;margin-bottom:15px;margin-top:5px}.dropdown-menu{padding:4px 0;font-size:15px;box-shadow:0 2px 30px rgba(0,0,0,.08);border-color:#eff3f6}.dropdown-item.active,.dropdown-item:active{color:#0a1832;text-decoration:none;background-color:#eff3f6}.dropdown-item{padding:6px 1.5rem}.bg-primary{background-color:#0f9cf3!important}.bg-success{background-color:#6fd088!important}.bg-info{background-color:#0097a7!important}.bg-warning{background-color:#fb4!important}.bg-danger{background-color:#f32f53!important}.bg-muted{background-color:#707070!important}.bg-white{background-color:#fff!important}.text-white{color:#fff!important}.text-danger{color:#f32f53!important}.text-muted{color:#707070!important}.text-primary{color:#0f9cf3!important}.text-warning{color:#fb4!important}.text-success{color:#6fd088!important}.text-info{color:#0097a7!important}.text-dark{color:#0a1832!important}.badge-default{background-color:#eff3f6;color:#0a1832}.badge-primary{background-color:#0f9cf3}.badge-success{background-color:#6fd088}.badge-info{background-color:#0097a7}.badge-warning{background-color:#fb4}.badge-danger{background-color:#f32f53}.badge-dark{background-color:#0a1832}.nav-pills .nav-item.show .nav-link,.nav-pills .nav-link.active{background-color:#0f9cf3}.nav-pills>.active>a>.badge{color:#0f9cf3}.list-group-item.active,.list-group-item.active:hover{background-color:#ddd;border-color:#ddd;color:#444;z-index:2}.list-group-item.active:hover .list-group-item-text{color:#0f9cf3}.list-group-item.active:focus{background-color:#ddd;border-color:#ddd;color:#444;z-index:2}.list-group-item.active .list-group-item-text,.list-group-item.active:focus .list-group-item-text,.list-group-item.active>.badge{color:#0f9cf3}.list-group-item{border-radius:0;padding:12px 20px;border:1px solid}.list-group-item:first-child,.list-group-item:last-child{border-radius:0;padding:12px 20px}.list-group-item-heading{font-weight:300}.popover-header{margin-top:0}.blockquote{font-size:1.05rem}.alert{position:relative;border:0}.alert .alert-link{font-weight:600}.alert-success{color:#6fd088;background-color:#e2f6e7}.alert-success .alert-link{color:#49c368}.alert-success hr{border-top-color:#49c368}.alert-info{color:#0097a7;background-color:#c1f9ff}.alert-info .alert-link{color:#006974}.alert-info hr{border-top-color:#006974}.alert-warning{color:#fb4;background-color:#fff6e7}.alert-warning .alert-link{color:#ffa811}.alert-warning hr{border-top-color:#ffa811}.alert-danger{color:#f32f53;background-color:#fef0f2}.alert-danger .alert-link{color:#e20d34}.alert-danger hr{border-top-color:#e20d34}.p-0{padding:0}.p-t-10{padding-top:10px}.p-b-10{padding-bottom:10px}.m-0{margin:0}.m-r-5{margin-right:5px}.m-r-10{margin-right:10px}.m-r-15{margin-right:15px}.m-l-10{margin-left:10px}.m-l-15{margin-left:15px}.m-t-5{margin-top:5px}.m-t-10{margin-top:10px}.m-t-15{margin-top:15px}.m-t-20{margin-top:20px}.m-t-30{margin-top:30px}.m-t-40{margin-top:40px}.m-b-5{margin-bottom:5px}.m-b-10{margin-bottom:10px}.m-b-15{margin-bottom:15px}.m-b-20{margin-bottom:20px}.m-b-30{margin-bottom:30px}.w-xs{min-width:80px}.w-sm{min-width:95px}.w-md{min-width:110px}.w-lg{min-width:140px}.m-h-50{min-height:50px}.l-h-34{line-height:34px}.font-14{font-size:14px}.font-16{font-size:16px}.font-18{font-size:18px}.font-20{font-size:20px}.font-32{font-size:32px}.font-40{font-size:40px}.no-border{border:none}.bx-shadow{-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,.1);-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,.1);box-shadow:0 1px 2px 0 rgba(0,0,0,.1)}.thumb-sm{height:32px;width:32px}.thumb-md{height:48px;width:48px}.thumb-lg{height:88px;width:88px}.grid-structure .grid-container{background-color:#f5f5f5;margin-bottom:10px;padding:10px 20px}.header-title{font-size:16px}/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */.waves-effect{position:relative;cursor:pointer;display:inline-block;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;vertical-align:middle;z-index:1;will-change:opacity,transform;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;-ms-transition:all .3s ease-out;transition:all .3s ease-out}.waves-effect .waves-ripple{position:absolute;border-radius:50%;width:20px;height:20px;margin-top:-10px;margin-left:-10px;opacity:0;background:rgba(0,0,0,.2);-webkit-transition:all .7s ease-out;-moz-transition:all .7s ease-out;-o-transition:all .7s ease-out;-ms-transition:all .7s ease-out;transition:all .7s ease-out;-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-o-transition-property:-o-transform,opacity;transition-property:transform,opacity;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);pointer-events:none}.waves-effect.waves-light .waves-ripple{background-color:rgba(255,255,255,.25)}.waves-effect.waves-red .waves-ripple{background-color:rgba(244,67,54,.7)}.waves-effect.waves-yellow .waves-ripple{background-color:rgba(255,235,59,.7)}.waves-effect.waves-orange .waves-ripple{background-color:rgba(255,152,0,.7)}.waves-effect.waves-purple .waves-ripple{background-color:rgba(156,39,176,.7)}.waves-effect.waves-green .waves-ripple{background-color:rgba(76,175,80,.7)}.waves-effect.waves-teal .waves-ripple{background-color:rgba(0,150,136,.7)}.waves-notransition{-webkit-transition:none;-moz-transition:none;-o-transition:none;-ms-transition:none;transition:none}.waves-circle{-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);width:2.5em;height:2.5em;line-height:2.5em;border-radius:50%;-webkit-mask-image:none}.waves-input-wrapper{border-radius:.2em;vertical-align:bottom}#sidebar-menu>ul>li>a>i,#sidebar-menu>ul>li>a>span,.notification-list .noti-icon,.profile-dropdown i,.profile-dropdown span{vertical-align:middle}.waves-input-wrapper .waves-button-input{position:relative;top:0;left:0;z-index:1}.waves-block{display:block}@media print{.breadcrumb,.footer,.logo,.page-title,.side-menu,.topbar{display:none;margin:0;padding:0}.left{display:none}.content{margin-top:0;padding-top:0}.content-page{margin-left:0;margin-top:0}.content-page>.content{margin:0!important}}.button-items{margin-bottom:-8px}.button-items .btn{margin-bottom:8px;margin-right:5px}.bs-example-modal{position:relative;top:auto;right:auto;bottom:auto;left:auto;z-index:1;display:block}.icon-demo-content{color:#707070}.icon-demo-content i{display:block;font-size:28px;margin-bottom:5px}.chart,.chartist-tooltip,.percent{display:inline-block}.icon-demo-content .col-sm-6{margin-bottom:30px}.icon-demo-content .col-sm-6:hover i{color:#0f9cf3}.btn-danger,.btn-dark,.btn-info,.btn-primary,.btn-success,.btn-warning{color:#fff}.btn{border-radius:3px;font-size:15px}.btn-secondary{border-color:rgba(10,24,50,.2)}.btn-secondary.active,.btn-secondary.focus,.btn-secondary:active,.btn-secondary:focus,.btn-secondary:hover,.open>.dropdown-toggle.btn-secondary,.show>.btn-secondary.dropdown-toggle{border:1px solid rgba(10,24,50,.2)}.btn-primary{background-color:#0f9cf3;border:1px solid #0f9cf3}.btn-outline-primary.active,.btn-outline-primary:active,.btn-outline-primary:hover,.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary,.show>.btn-outline-primary.dropdown-toggle,.show>.btn-primary.dropdown-toggle{background-color:#0b8ddd;border:1px solid #0b8ddd}.btn-success{background-color:#6fd088;border:1px solid #6fd088}.btn-outline-success.active,.btn-outline-success:active,.btn-outline-success:hover,.btn-success.active,.btn-success.focus,.btn-success:active,.btn-success:focus,.btn-success:hover,.open>.dropdown-toggle.btn-success,.show>.btn-outline-success.dropdown-toggle,.show>.btn-success.dropdown-toggle{background-color:#5cca78;border:1px solid #5cca78}.btn-info{background-color:#0097a7;border:1px solid #0097a7}.btn-info.active,.btn-info.focus,.btn-info:active,.btn-info:focus,.btn-info:hover,.btn-outline-info.active,.btn-outline-info:active,.btn-outline-info:hover,.open>.dropdown-toggle.btn-info,.show>.btn-info.dropdown-toggle,.show>.btn-outline-info.dropdown-toggle{background-color:#00808e;border:1px solid #00808e}.btn-warning{background-color:#fb4;border:1px solid #fb4}.btn-outline-warning.active,.btn-outline-warning:active,.btn-outline-warning:hover,.btn-warning.active,.btn-warning.focus,.btn-warning:active,.btn-warning:focus,.btn-warning:hover,.open>.dropdown-toggle.btn-warning,.show>.btn-outline-warning.dropdown-toggle,.show>.btn-warning.dropdown-toggle{background-color:#ffb22b;border:1px solid #ffb22b}.btn-danger{background-color:#f32f53;border:1px solid #f32f53}.btn-danger.active,.btn-danger.focus,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.btn-outline-danger.active,.btn-outline-danger:active,.btn-outline-danger:hover,.open>.dropdown-toggle.btn-danger,.show>.btn-danger.dropdown-toggle,.show>.btn-outline-danger.dropdown-toggle{background-color:#f2173f;border:1px solid #f2173f}.btn-dark{background-color:#0a1832;border:1px solid #0a1832}.btn-dark.active,.btn-dark.focus,.btn-dark:active,.btn-dark:focus,.btn-dark:hover,.btn-outline-dark.active,.btn-outline-dark:active,.btn-outline-dark:hover,.open>.dropdown-toggle.btn-dark,.show>.btn-outline-dark.dropdown-toggle{background-color:#060e1d;border:1px solid #060e1d;color:#fff}.btn-dark.focus,.btn-dark:focus,.btn-outline-dark.focus,.btn-outline-dark:focus{-webkit-box-shadow:0 0 0 2px rgba(10,24,50,.3);box-shadow:0 0 0 2px rgba(10,24,50,.3)}.btn-link{color:#0a1832}.btn-link:hover{color:#0f9cf3}.btn-outline-primary{color:#0f9cf3;border-color:#0f9cf3}.btn-outline-success{color:#6fd088;border-color:#6fd088}.btn-outline-info{color:#0097a7;border-color:#0097a7}.btn-outline-warning{color:#fb4;border-color:#fb4}.btn-outline-danger{color:#f32f53;border-color:#f32f53}.btn-outline-dark{color:#0a1832;background-image:none;background-color:transparent;border-color:#0a1832}.card{border:none;box-shadow:1px 0 20px rgba(0,0,0,.05)}.card-primary{background-color:#0f9cf3;border-color:#0f9cf3}.card-success{background-color:#6fd088;border-color:#6fd088}.card-info{background-color:#0097a7;border-color:#0097a7}.card-warning{background-color:#fb4;border-color:#fb4}.card-danger{background-color:#f32f53;border-color:#f32f53}.card-header{border-bottom:1px solid rgba(10,24,50,.05)}.page-link{color:#0f9cf3}.page-item.active .page-link{background-color:#0f9cf3;border-color:#0f9cf3}.page-link:focus,.page-link:hover{color:#0a1832;background-color:#eff3f6}.progress-bar{background-color:#0f9cf3}.popover-title{margin-top:0}.tooltip .tooltip-inner{padding:4px 10px}.swal2-modal .swal2-title{font-size:28px}.swal2-modal .swal2-content{font-size:16px}.swal2-modal .swal2-spacer{margin:10px 0}.swal2-modal .swal2-file,.swal2-modal .swal2-input,.swal2-modal .swal2-textarea{border:2px solid #707070;font-size:16px;box-shadow:none!important}.swal2-modal .swal2-styled{border:inherit}.swal2-icon.swal2-question{color:#0f9cf3;border-color:#0f9cf3}.swal2-icon.swal2-success,.swal2-icon.swal2-success .placeholder{border-color:#6fd088}.swal2-icon.swal2-success .line{background-color:#6fd088}.swal2-icon.swal2-warning{color:#fb4;border-color:#fb4}.swal2-icon.swal2-error{border-color:#f32f53}.swal2-icon.swal2-error .line{background-color:#f32f53}.swal2-modal .swal2-file:focus,.swal2-modal .swal2-input:focus,.swal2-modal .swal2-textarea:focus{outline:0;border:2px solid #0f9cf3}.custom-dd .dd-list .dd-item .dd-handle{background:#eff3f6;border:1px solid #eff3f6;padding:10px 16px;height:auto;font-size:15px;font-weight:400;border-radius:3px}.custom-dd .dd-list .dd-item .dd-handle:hover{color:#0f9cf3}.custom-dd .dd-list .dd-item button{height:auto;font-size:25px;margin:8px auto;color:#707070;width:35px}.custom-dd-empty .dd-list .dd3-handle{border:none;background:#f3f3f3;height:36px!important;width:36px!important}.custom-dd-empty .dd-list .dd3-handle:before{color:inherit;top:7px}.custom-dd-empty .dd-list .dd3-content:hover,.custom-dd-empty .dd-list .dd3-handle:hover{color:#0f9cf3}.custom-dd-empty .dd-list .dd3-content{height:auto;border:none;padding:8px 16px 8px 46px;background:#f3f3f3}.custom-dd-empty .dd-list button{width:26px;height:26px;font-size:16px;font-weight:600}.dd-dragel>.dd-item .dd-handle{padding:8px 16px!important;background:#f3f3f3;height:auto}.dd-empty,.dd-placeholder{background:#f3f3f3;border:1px dashed #707070}.dd-dragel>.dd3-item>.dd3-handle{border:none;background:#f3f3f3;height:36px!important;width:36px!important}.dd-dragel>.dd3-item>.dd3-handle:before{color:inherit;top:7px}.dd-dragel>.dd3-item>.dd3-content{padding:8px 16px 8px 46px;background:#f3f3f3;height:auto}.alertify,.alertify-logs{z-index:99}.alertify input{border:2px solid #707070}.alertify-logs>.success{background-color:#6fd088;color:#fff}.alertify-logs>.error{background-color:#f32f53;color:#fff}.alertify-logs>*,.alertify-logs>.default{background-color:#0a1832}.jqstooltip{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.chart{position:relative;width:110px;height:110px;margin-top:20px;margin-bottom:20px}.chart canvas{position:absolute;top:0;left:0}.chart.chart-widget-pie{margin-top:5px;margin-bottom:5px}.percent{line-height:110px;z-index:2}.percent:after{content:'%';margin-left:.1em;font-size:.8em}.morris-hover.morris-default-style{border-radius:5px;padding:10px 12px;background:#fff;border:none;box-shadow:0 5px 25px 5px rgba(0,0,0,.14)}.morris-hover.morris-default-style .morris-hover-point{font-weight:500;font-size:14px;color:#0a1832!important}.c3-chart-arcs-title,.c3-tooltip .value{font-weight:600;font-family:Arimo,sans-serif}.morris-hover.morris-default-style .morris-hover-row-label{background-color:#0a1832;color:#fff;padding:4px;border-radius:5px 5px 0 0;margin:-10px -12px 10px}#flotTip{padding:8px 12px;background-color:#fff;z-index:100;color:#0a1832;box-shadow:0 5px 25px 5px rgba(0,0,0,.14);border-radius:1px}.c3-tooltip td>span,.chartist-tooltip{background:#0a1832}.ct-golden-section:before{float:none}.ct-chart{height:300px}.ct-grid{stroke:rgba(0,0,0,.09);stroke-width:2px;stroke-dasharray:3px}.ct-chart .ct-label{fill:#707070;color:#707070;font-size:14px;line-height:1}.ct-chart.simple-pie-chart-chartist .ct-label{color:#fff;fill:#fff;font-size:16px}.ct-chart .ct-series.ct-series-a .ct-bar,.ct-chart .ct-series.ct-series-a .ct-line,.ct-chart .ct-series.ct-series-a .ct-point,.ct-chart .ct-series.ct-series-a .ct-slice-donut{stroke:#0f9cf3}.ct-chart .ct-series.ct-series-b .ct-bar,.ct-chart .ct-series.ct-series-b .ct-line,.ct-chart .ct-series.ct-series-b .ct-point,.ct-chart .ct-series.ct-series-b .ct-slice-donut{stroke:#0097a7}.ct-chart .ct-series.ct-series-c .ct-bar,.ct-chart .ct-series.ct-series-c .ct-line,.ct-chart .ct-series.ct-series-c .ct-point,.ct-chart .ct-series.ct-series-c .ct-slice-donut{stroke:#fb4}.ct-chart .ct-series.ct-series-d .ct-bar,.ct-chart .ct-series.ct-series-d .ct-line,.ct-chart .ct-series.ct-series-d .ct-point,.ct-chart .ct-series.ct-series-d .ct-slice-donut{stroke:#0a1832}.ct-chart .ct-series.ct-series-e .ct-bar,.ct-chart .ct-series.ct-series-e .ct-line,.ct-chart .ct-series.ct-series-e .ct-point,.ct-chart .ct-series.ct-series-e .ct-slice-donut{stroke:#6fd088}.ct-chart .ct-series.ct-series-f .ct-bar,.ct-chart .ct-series.ct-series-f .ct-line,.ct-chart .ct-series.ct-series-f .ct-point,.ct-chart .ct-series.ct-series-f .ct-slice-donut{stroke:#f32f53}.ct-chart .ct-series.ct-series-g .ct-bar,.ct-chart .ct-series.ct-series-g .ct-line,.ct-chart .ct-series.ct-series-g .ct-point,.ct-chart .ct-series.ct-series-g .ct-slice-donut{stroke:#eff3f6}.ct-series-a .ct-area,.ct-series-a .ct-slice-pie{fill:#0f9cf3}.ct-series-b .ct-area,.ct-series-b .ct-slice-pie{fill:#fb4}.ct-series-c .ct-area,.ct-series-c .ct-slice-pie{fill:#0a1832}.chartist-tooltip{position:absolute;opacity:0;min-width:10px;padding:2px 10px;-webkit-border-radius:3px;border-radius:3px;-moz-border-radius:3px;color:#fff;pointer-events:none;z-index:1;-webkit-transition:opacity .2s linear;-moz-transition:opacity .2s linear;-o-transition:opacity .2s linear;transition:opacity .2s linear}.chartist-tooltip.tooltip-show{opacity:1}.c3 svg{max-width:100%}.c3-tooltip td{border-left:none}.c3-tooltip{box-shadow:0 8px 40px 0 rgba(0,0,0,.12);opacity:1}.c3-chart-arcs-title{font-size:18px}.c3-tooltip tr{border:none!important}.c3-tooltip th{background-color:#0a1832}.c3-line{stroke-width:2px}.c3-legend-item{font-size:13px;font-family:Arimo,sans-serif}.table{margin-bottom:10px}th{font-weight:500}.table>tbody>tr>td,.table>tfoot>tr>td,.table>thead>tr>td{padding:15px 12px}.table-hover tbody tr:hover,.table-striped tbody tr:nth-of-type(odd),.thead-default th{background-color:#eff3f6}table.focus-on tbody tr.focused td,table.focus-on tbody tr.focused th{background-color:#0f9cf3;color:#fff}.table-rep-plugin .btn-toolbar{display:block}.table-rep-plugin .btn-default{background-color:#fff;border-color:#ddd;margin-right:5px}.table-rep-plugin .btn-default.btn-primary{background-color:#0f9cf3;border-color:#0f9cf3}.table-rep-plugin .table-responsive{border:none!important}.table-rep-plugin .btn-group.pull-right .dropdown-menu{left:auto;right:0}.table-rep-plugin tbody th{font-size:14px;font-weight:400}.table-rep-plugin .checkbox-row{padding-left:40px}.table-rep-plugin .checkbox-row label{display:inline-block;padding-left:5px;position:relative}.table-rep-plugin .checkbox-row label::before{-o-transition:.3s ease-in-out;-webkit-transition:.3s ease-in-out;background-color:#fff;border-radius:3px;border:1px solid #ccc;content:"";display:inline-block;height:17px;left:0;margin-left:-20px;position:absolute;transition:.3s ease-in-out;width:17px;outline:0!important}.table-rep-plugin .checkbox-row label::after{color:#555;display:inline-block;font-size:11px;height:16px;left:0;margin-left:-20px;padding-left:3px;padding-top:1px;position:absolute;top:-1px;width:16px}#cd-timeline,.note-editor{position:relative}.table-rep-plugin .checkbox-row input[type=checkbox]{cursor:pointer;opacity:0;z-index:1;outline:0!important}.table-rep-plugin .checkbox-row input[type=checkbox]:disabled+label{opacity:.65}.table-rep-plugin .checkbox-row input[type=checkbox]:focus+label::before{outline-offset:-2px;outline:0}.table-rep-plugin .checkbox-row input[type=checkbox]:checked+label::after{content:"\f00c";font-family:FontAwesome;color:#fff}.table-rep-plugin .checkbox-row input[type=checkbox]:disabled+label::before{background-color:#eff3f6;cursor:not-allowed}.table-rep-plugin .checkbox-row input[type=checkbox]:checked+label::before{background-color:#0f9cf3;border-color:#0f9cf3}.irs-from,.irs-single,.irs-to{background:#0f9cf3}.irs-from:after,.irs-single:after,.irs-to:after{border-top-color:#0f9cf3}#session-timeout-dialog .modal-title{margin-top:0}#session-timeout-dialog .close{display:none}#session-timeout-dialog .btn-default{background-color:#fff;color:#f32f53}#session-timeout-dialog .countdown-holder{color:#f32f53;font-weight:700}label{font-weight:700}.form-control{font-size:15px}.form-control:focus{border-color:#0f9cf3;box-shadow:none}.custom-control-input:checked~.custom-control-indicator{background-color:#0f9cf3}.custom-control-input:focus~.custom-control-indicator{-webkit-box-shadow:0 0 0 1px #fff,0 0 0 3px #0f9cf3;box-shadow:0 0 0 1px #fff,0 0 0 3px #0f9cf3}.has-success .form-control{border-color:#6fd088;box-shadow:none}.has-warning .form-control{border-color:#fb4;box-shadow:none}.has-error .form-control{border-color:#f32f53;box-shadow:none}.input-group-addon{border-radius:2px}.error{color:red}.parsley-error{border-color:#f32f53}.parsley-errors-list{display:none;margin:0;padding:0}.parsley-errors-list.filled{display:block}.parsley-errors-list>li{font-size:12px;list-style:none;color:#f32f53;margin-top:5px}.dropzone{min-height:230px;border:2px dashed rgba(0,0,0,.3);background:#fff;border-radius:6px}.dropzone .dz-message{font-size:30px}.datepicker{border:1px solid #ddd;padding:8px}.datepicker table tr td.active,.datepicker table tr td.active.disabled,.datepicker table tr td.active.disabled:hover,.datepicker table tr td.active:hover,.datepicker table tr td.selected,.datepicker table tr td.selected.disabled,.datepicker table tr td.selected.disabled:hover,.datepicker table tr td.selected:hover,.datepicker table tr td.today,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover,.datepicker table tr td.today:hover{background-color:#0f9cf3!important;background-image:none;box-shadow:none;color:#fff}.mini-stat,.navbar-custom,.side-menu{box-shadow:1px 0 20px rgba(0,0,0,.05)}.bootstrap-touchspin .input-group-btn-vertical .btn{padding:9px 12px}.bootstrap-touchspin .input-group-btn-vertical i{top:4px;left:8px}.input-group-addon{padding:.375rem .75rem;margin-bottom:0;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;white-space:nowrap;background-color:#e9ecef;border:1px solid #ced4da}:not(pre)>code[class*=language-],pre[class*=language-]{background:#eff3f6}.badge:empty{padding:0}.mce-panel{border-color:#dfe7ed!important;background-color:#eff3f6!important}.mce-menu-item.mce-selected,.mce-menu-item:focus,.mce-menu-item:hover{background-color:#0f9cf3!important}.mce-menu{background-color:#fff!important}.note-btn-group .dropdown-menu>li>a{display:block;padding:5px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap}.note-air-popover,.note-icon-caret,.note-image-popover,.note-link-popover{display:none}.note-btn-group .dropdown-menu>li>a:hover{background-color:#f6f8fa}.note-air-popover .dropdown-toggle::after,.note-image-popover .dropdown-toggle::after,.note-link-popover .dropdown-toggle::after{margin-left:0}.note-editor .btn-default{background-color:transparent;border-color:transparent}.note-editor .btn-group-sm>.btn,.note-editor .btn-sm{padding:8px 12px}.note-editor .note-toolbar{background-color:#f3f3f3;border-bottom:1px solid #eff3f6;margin:0}.note-editor .note-statusbar{background-color:#fff}.note-editor .note-statusbar .note-resizebar{border-top:none;height:15px;padding-top:3px}.note-editor.note-frame{border:1px solid #eff3f6}.note-popover .popover .popover-content{padding:5px 0 10px 5px}.note-popover .btn-default{background-color:transparent;border-color:transparent}.note-popover .btn-group-sm>.btn,.note-popover .btn-sm{padding:8px 12px}.note-toolbar{padding:5px 0 10px 5px}.calendar{float:left;margin-bottom:0}.none-border .modal-footer{border-top:none}.fc-button,.fc-widget-content,.fc-widget-header{border:1px solid #d5d5d5}.fc-toolbar{margin-bottom:5px}.fc-toolbar h2{font-size:18px;font-weight:600;line-height:30px;text-transform:uppercase}.fc-day{background:#fff}.fc-toolbar .fc-state-active,.fc-toolbar .ui-state-active,.fc-toolbar .ui-state-hover,.fc-toolbar button:focus,.fc-toolbar button:hover{z-index:0}.fc-widget-header{background-color:#eff3f6}.fc th.fc-widget-header{font-size:14px;line-height:20px;padding:10px 0;font-weight:700;text-transform:uppercase}.fc-button{background:#fff;color:#555;text-transform:capitalize}.fc-text-arrow{font-family:arial;font-size:16px}.fc-state-hover{background:#f5f5f5}.fc-cell-overlay,.fc-state-highlight{background:#f0f0f0}.fc-unthemed .fc-today{background:#fff}.cd-timeline-img,.fc-event{text-align:center;background-color:#0f9cf3}.fc-event{border-radius:2px;border:none;cursor:move;font-size:13px;margin:5px 0;padding:5px;color:#fff!important}.external-event{color:#fff;cursor:move;margin:10px 0;padding:6px 10px}.fc-basic-view td.fc-day-number,.fc-basic-view td.fc-week-number span{padding-right:5px}.widget-chart li{width:31.5%;display:inline-block;padding:0}.widget-chart li i{font-size:22px}.mini-stat{padding:20px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin-bottom:30px}.mini-stat-icon{width:60px;height:60px;display:inline-block;line-height:60px;text-align:center;font-size:30px;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;float:left;margin-right:10px}.mini-stat-info{font-size:14px;padding-top:2px}.mini-stat-info span{display:block;font-size:24px}.cd-container{width:90%;max-width:1170px;margin:0 auto}.cd-container::after{content:'';display:table;clear:both}#cd-timeline{margin-bottom:2em;margin-top:2em;padding:2em 0}#cd-timeline::before{border-left:3px solid #eff3f6;content:'';height:100%;left:18px;position:absolute;top:0;width:3px}.cd-timeline-block:after,.cd-timeline-content:after{clear:both;content:"";display:table}@media only screen and (min-width:1170px){#cd-timeline{margin-bottom:3em;margin-top:3em}#cd-timeline::before{left:50%;margin-left:-2px}}.cd-timeline-block{margin:2em 0;position:relative}.cd-timeline-block:first-child{margin-top:0}.cd-timeline-block:last-child{margin-bottom:0}@media only screen and (min-width:1170px){.cd-timeline-block{margin:4em 0}.cd-timeline-block:first-child{margin-top:0}.cd-timeline-block:last-child{margin-bottom:0}}.cd-timeline-img{position:absolute;top:20px;left:0;width:40px;height:40px;border-radius:50%;line-height:30px;font-size:20px;color:#fff;border:5px solid #fff}.cd-timeline-img i{margin-left:1px}@media only screen and (min-width:1170px){.cd-timeline-img{width:40px;height:40px;line-height:30px;left:50%;margin-left:-20px;-webkit-transform:translateZ(0);-webkit-backface-visibility:hidden}.cssanimations .cd-timeline-img.is-hidden{visibility:hidden}.cssanimations .cd-timeline-img.bounce-in{visibility:visible;-webkit-animation:cd-bounce-1 .6s;-moz-animation:cd-bounce-1 .6s;animation:cd-bounce-1 .6s}}.cd-timeline-content{border-radius:5px;border:1px solid #eff3f6;margin-left:60px;padding:1em;position:relative}.cd-timeline-content h2{margin-top:0}.cd-timeline-content .cd-read-more{background:#0f9cf3;border-radius:.25em;color:#fff;display:inline-block;float:right;font-size:14px;padding:.8em 1em}.cd-timeline-content .cd-date{display:inline-block;font-size:14px;float:left;padding:.8em 0;opacity:.7}.cd-timeline-content h3{font-size:18px;margin:0 0 15px}.no-touch .cd-timeline-content .cd-read-more:hover{background-color:#bac4cb}.cd-timeline-content::before{content:'';position:absolute;top:16px;right:100%;height:0;width:0;border:12px solid transparent;border-right:12px solid #fafafa}@media only screen and (min-width:1170px){.cd-timeline-content{margin-left:0;padding:1.6em;width:45%}.cd-timeline-content::before{top:24px;left:100%;border-color:transparent transparent transparent #eff3f6}.cd-timeline-content .cd-read-more{float:left}.cd-timeline-block:nth-child(even) .cd-timeline-content,.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more{float:right}.cd-timeline-content .cd-date{position:absolute;width:100%;left:122%;top:20px}.cd-timeline-block:nth-child(even) .cd-timeline-content::before{top:24px;left:auto;right:100%;border-color:transparent #eff3f6 transparent transparent}.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date{left:auto;right:122%;text-align:right}.cssanimations .cd-timeline-content.is-hidden{visibility:hidden}.cssanimations .cd-timeline-content.bounce-in{visibility:visible;-webkit-animation:cd-bounce-2 .6s;-moz-animation:cd-bounce-2 .6s;animation:cd-bounce-2 .6s}.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in{-webkit-animation:cd-bounce-2-inverse .6s;-moz-animation:cd-bounce-2-inverse .6s;animation:cd-bounce-2-inverse .6s}}.gmaps-overlay_arrow.above,.gmaps-overlay_arrow.below{border-left:16px solid transparent;border-right:16px solid transparent}.table>thead>tr>.no-line{border-bottom:none}.table>tbody>tr>.no-line{border-top:none}.table>tbody>tr>.thick-line{border-top:2px solid #eff3f6}.gmaps,.gmaps-panaroma{height:300px;background:#eff3f6;border-radius:3px}.gmaps-overlay{display:block;text-align:center;color:#fff;font-size:16px;line-height:40px;background:#0f9cf3;border-radius:4px;padding:10px 20px}.gmaps-overlay_arrow{left:50%;margin-left:-16px;width:0;height:0;position:absolute}.gmaps-overlay_arrow.above{bottom:-15px;border-top:16px solid #0f9cf3}.gmaps-overlay_arrow.below{top:-15px;border-bottom:16px solid #0f9cf3}.accountbg{background-color:#6acde4;position:absolute;height:100%;width:100%;top:0;background-size:cover}.wrapper-page{margin:7.5% auto;max-width:460px;position:relative}.wrapper-page .logo-admin{font-size:28px;line-height:70px}.user-thumb{position:relative;z-index:999}.user-thumb img{height:88px;margin:0 auto;width:88px}.ex-page-content h1{font-size:98px;font-weight:700;line-height:150px;text-shadow:rgba(61,61,61,.3) 1px 1px,rgba(61,61,61,.2) 2px 2px,rgba(61,61,61,.3) 3px 3px}.topbar .topbar-left{float:left;height:70px;position:relative;width:240px;z-index:1;background-color:#fff}.logo{color:#0a1832!important;font-size:20px;font-weight:700;letter-spacing:.03em;line-height:100px;text-transform:uppercase}.has_sub.nav-active i.mdi-chevron-right:before{content:"\F140"}.navbar-custom{background-image: linear-gradient(to right, #6acde4 , #8ae6e6);border:none;margin:-20px -25px 30px}.notification-list{margin:0!important}.notification-list .noti-title{border-radius:.25rem .25rem 0 0;background-color:#eff3f6;margin:-4px 0 0;width:auto;padding:12px 20px}.notification-list .noti-title h5{margin:0;font-size:14px;text-transform:uppercase}.notification-list .noti-title .label{float:right}.notification-list .noti-icon{font-size:24px;padding:0 10px;color:#fff}.notification-list .noti-icon-badge{display:inline-block;position:absolute;top:14px;right:9px}.notification-list .notify-item{padding:10px 20px}.notification-list .notify-item .notify-icon{float:left;height:36px;width:36px;line-height:36px;text-align:center;margin-right:10px;border-radius:50%;color:#fff}.notification-list .notify-item .notify-icon img{margin-top:4px}.notification-list .notify-item .notify-details{margin-bottom:0;overflow:hidden;margin-left:45px;text-overflow:ellipsis;white-space:nowrap}.notification-list .notify-item .notify-details b{font-weight:500}.notification-list .notify-item .notify-details small{display:block;white-space:normal}.notification-list .notify-item .notify-details span{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:13px}.notification-list .notify-all{border-radius:0 0 .25rem .25rem;margin:0 0 -5px;background-color:#eff3f6}.notification-list .profile-dropdown .notify-item{padding:4px 20px}.notification-list .nav-link{padding:0 2px;line-height:70px}.profile-dropdown{width:170px}.nav-user img,.profile img{height:36px;width:36px}.profile-dropdown i{font-size:17px;margin-right:5px}.nav-user{margin:0 15px}.arrow-none:after{border:none;margin:0;display:none}.menu-title{padding:12px 25px!important;letter-spacing:.035em;pointer-events:none;cursor:default;font-size:13px;color:#707070}.profile{padding:17px 15px!important}.profile img{border:2px solid #edf0f0;float:left}.profile .profile-username{margin-left:45px;display:block;line-height:36px}.dropdown-menu-lg{width:270px}.navbar-nav{margin:0}.side-menu{bottom:0;top:0;width:240px;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;background:#fff;position:absolute;z-index:99}body.fixed-left .side-menu.left{bottom:50px;height:100%;margin-bottom:-70px;margin-top:0;padding-bottom:70px;position:fixed}.content-page{margin-left:240px;overflow:hidden;min-height:500px}.content-page>.content{margin-bottom:63px;padding:20px 25px 0;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}.page-content-wrapper{margin:0 -10px}.button-menu-mobile{background-color:#6acde4;font-size:28px;color:#fff;width:130px;border-radius:3px;border:none;line-height:70px;display:none}.button-menu-mobile-topbar{background-color:#ffffff;color:#0097a7;font-size:20px;height:42px;width:42px;line-height:42px;border-radius:0;border:none;position:absolute;right:-42px;top:5px}.sidebar-inner{height:100%}#sidebar-menu,#sidebar-menu a,#sidebar-menu li,#sidebar-menu ul{border:0;font-weight:400;line-height:1;list-style:none;margin:0;padding:0;position:relative;text-decoration:none}.navbar-nav>li>a.notification-icon-box{line-height:70px}.navbar-nav>li>a.notification-icon-box i{font-size:26px;vertical-align:middle}#sidebar-menu{background-color:#fff;padding-bottom:50px;width:100%}#sidebar-menu .badge{margin-top:4px}#sidebar-menu ul ul{display:none}#sidebar-menu ul ul li{border-top:0}#sidebar-menu ul ul li.active a{color:#0f9cf3}#sidebar-menu ul ul a{color:rgba(10,24,50,.8);display:block;padding:12px 25px 12px 60px;font-size:14px}#sidebar-menu ul ul a:hover{color:#0a1832}#sidebar-menu ul ul a i{margin-right:5px}#sidebar-menu ul ul ul a{padding-left:80px}#sidebar-menu>ul>li>a{color:#707070;display:block;padding:14px 25px;background-color:#fff}#sidebar-menu>ul>li>a:hover{color:#0a1832;text-decoration:none}#sidebar-menu>ul>li>a span i{font-size:18px;line-height:22px}#sidebar-menu>ul>li.nav-active>a{background-color:#eff3f6}#sidebar-menu>ul>li>a>i{display:inline-block;font-size:18px;line-height:17px;margin-left:3px;margin-right:10px;text-align:center;width:20px}#sidebar-menu>ul>li>a>i.i-right{float:right;margin:3px 0 0}#sidebar-menu>ul>li>a.active,#sidebar-menu>ul>li>a.active i{color:#0a1832}#sidebar-menu>ul>li.nav-active>ul{display:block}#wrapper.enlarged .left.side-menu{padding-top:0;z-index:5;margin-left:-100%}#wrapper.enlarged .content-page{margin-left:0}#wrapper.enlarged .footer{left:0}.user-details{min-height:80px;padding:20px;position:relative}.user-details img{position:relative;z-index:9999;height:64px;width:64px}.user-details .user-info{text-align:center}.user-details .user-info .user-status{display:inline-block;padding:3px 10px;border:1px solid rgba(34,34,34,.27);border-radius:20px;font-size:12px}.page-title{margin:0;line-height:68px;padding-left:15px;font-size:20px;color:#fff}@media (min-width:768px) and (max-width:991px){body{overflow-x:hidden}}@media (max-width:768px){.side-menu.left{margin-left:-100%}.content-page{margin-left:0}.enlarged .side-menu.left{margin-left:0!important}.button-menu-mobile{display:inline-block}.navbar-custom{padding-left:10px}.content-page>.content{padding:20px}#wrapper.enlarged .footer,.footer{left:0}}@media (max-width:767px){body{overflow-x:hidden}.content-page{margin-left:0!important}.enlarged .left.side-menu{margin-left:-75px}.mobile-sidebar{left:0}.mobile-content{left:250px;right:-250px}.wrapper-page{width:90%}.navbar-nav .open .dropdown-menu{background-color:#fff;box-shadow:0 2px 5px 0 rgba(0,0,0,.26);left:auto;position:absolute;right:0}.fc-toolbar .fc-right{float:left;margin:10px 0}}@media (max-width:620px){.page-header-title{text-align:center}.dataTables_paginate .page-link{padding:.35rem .5rem}.mo-mb-2{margin-bottom:10px}}@media (max-width:480px){.side-menu{z-index:10}.button-menu-mobile{display:block}.page-title{display:none}}@media (max-width:420px){.hide-phone,.notify-icon{display:none}.dropdown-menu-lg{width:200px}.notify-details{margin-left:0!important}}
/*# sourceMappingURL=style.css.map */
