﻿@model IEnumerable<newAcargo.Models.Direcciones.Direccion>


@if (Model != null)
{
    @foreach (var item in Model)
    {
        <div class="card m-b-30">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <b>@Html.DisplayFor(modelItem => item.Nombre)</b><br />
                        @Html.DisplayFor(modelItem => item.Direccion1), @Html.DisplayFor(modelItem => item.Direccion2)<br />
                        @Html.DisplayFor(modelItem => item.Ciudad), @Html.DisplayFor(modelItem => item.Provincia.Capital), @Html.DisplayFor(modelItem => item.Provincia.NombreProvincia)<br />

                    </div>
                    <div class="col-md-4">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info waves-effect waves-light">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-info waves-effect waves-light">Borrar</a>
                    </div>
                    <div class="col-md-2">
                        @if (item.Predeterminada == true)
                        {
                            <span class="badge badge-info">Preterminada</span>

                        }
                    </div>
                </div>
                <br />
            </div>
        </div>
    }
}

