﻿@model newAcargo.Models.Direcciones.Direccion

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_layout_Shippers.cshtml";
}


<div class="card m-b-30">
    <div class="card-body">
        <h3>¿Esta Seguro que quiere borrar esta direccion?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Direccion1)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Direccion1)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Direccion2)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Direccion2)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Ciudad)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ciudad)
                </dd>
                <dt>
                    Provincia
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Provincia.Capital), @Html.DisplayFor(model => model.Provincia.NombreProvincia)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Zip)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Zip)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Pais)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Pais)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Predeterminada)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Predeterminada)
                </dd>
            </dl>


            <form asp-action="Delete">
                <div class="row">
                    <div class="col-md-6">
                        <a asp-action="Index" class="btn btn-secondary btn-sm btn-block">Volver</a>
                    </div>
                    <div class="col-md-6">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm btn-block" />
                    </div>

                </div>
                
                
            </form>
        </div>

    </div>
</div>
<br />




        