﻿@model newAcargo.Models.Direcciones.DireccionViewModel


<h4>Editar Direccion</h4>
<hr />
<div class="card m-b-30">
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control form-control-lg" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion1" class="control-label"></label>
                <input asp-for="Direccion1" class="form-control form-control-lg" />
                <span asp-validation-for="Direccion1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion2" class="control-label"></label>
                <input asp-for="Direccion2" class="form-control form-control-lg" />
                <span asp-validation-for="Direccion2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input asp-for="Ciudad" class="form-control form-control-lg" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => Model.SelectedProvincia, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(x => Model.SelectedProvincia, new SelectList(Model.Provincias, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "Provincias" })
                @Html.ValidationMessageFor(x => x.SelectedProvincia, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control form-control-lg" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input asp-for="Pais" class="form-control form-control-lg" value="Republica Dominicana" readonly />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Predeterminada" /> @Html.DisplayNameFor(model => model.Predeterminada)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />