﻿@model newAcargo.Models.Direcciones.DireccionViewModel

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_layout_Shippers.cshtml";
}

<h2>Editar</h2>

<h4>DireccionViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion1" class="control-label"></label>
                <input asp-for="Direccion1" class="form-control" />
                <span asp-validation-for="Direccion1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion2" class="control-label"></label>
                <input asp-for="Direccion2" class="form-control" />
                <span asp-validation-for="Direccion2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Predeterminada" /> @Html.DisplayNameFor(model => model.Predeterminada)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TipoDeDireccion" class="control-label"></label>
                <input asp-for="TipoDeDireccion" class="form-control" />
                <span asp-validation-for="TipoDeDireccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
