﻿@model newAcargo.Models.Direcciones.DireccionesViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout_Shippers.cshtml";
}





<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" class="btn btn-info btn-sm btn-block"><i class="fa fa-plus"></i> Nueva</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="card m-b-30">
            <div class="card-body">

                <h4 class="mt-0 header-title">Mis Direcciones</h4>
                <br />
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link active" data-toggle="tab" href="#Todas" role="tab">Todas Mis Direcciones</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-toggle="tab" href="#Direcciones_origen" role="tab">Mis Direcciones Origen</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-toggle="tab" href="#Direcciones_destino" role="tab">Mis Direcciones Destino</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active p-3" id="Todas" role="tabpanel">
                        <partial name="_ListadoDireccionesTodas", model="Model.TodasLasDirecciones"/>                       
                    </div>
                    <div class="tab-pane p-3" id="Direcciones_origen" role="tabpanel">
                        <partial name="_ListadoDireccionesTodas" , model="Model.DireccionesOrigen" />
                    </div>
                    <div class="tab-pane p-3" id="Direcciones_destino" role="tabpanel">
                        <partial name="_ListadoDireccionesTodas" , model="Model.DireccionesDestino" />                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

