﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_Layout_identity.cshtml";
}

<div class="card">
    <div class="card-body">
        <h3 class="text-center mt-0 m-b-15">
            <a href="./index.html" class="logo logo-admin"><img src="~/images/logo.png" height="70" alt="logo" /></a>
        </h3>
        
        <form method="post" class="form-horizontal m-t-20">
            <div class="p-3">                
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
               
                        <div class="custom-control custom-checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                <div class="form-group text-center row m-t-20">
                    <div class="col-12">
                        <button class="btn btn-info btn-block waves-effect waves-light" type="submit">Entrar</button>
                    </div>
                </div>

                <div class="form-group m-t-10 mb-0 row">
                    <div class="col-sm-7 m-t-20">
                        <a asp-page="./ForgotPassword" class="text-muted"><i class="mdi mdi-lock"></i>Olvide mi clave</a>
                    </div>
                    <div class="col-sm-5 m-t-20">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-muted"><i class="mdi mdi-account-circle"></i> Crear Una Cuenta</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
