﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_Layout_identity.cshtml";
}

<div class="card">
    <div class="card-body">
        <h3 class="text-center mt-0 m-b-15">
            <a href="./index.html" class="logo logo-admin"><img src="~/images/logo.png" height="70" alt="logo" /></a>
        </h3>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal m-t-20">
            <h4>Nueva Cuenta</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.UserRole"></label><br />
                @Html.RadioButtonFor(InputModel => InputModel.Input.UserRole, "Shippers")
                @Html.Label("Shippers", "Cliente", new { style = "padding-right:20px" })
                @Html.RadioButtonFor(InputModel => InputModel.Input.UserRole, "Carriers")
                @Html.Label("Carriers", "Transportista", new { style = "padding-right:20px" })<br />
                <span asp-validation-for="Input.UserRole" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-info btn-block waves-effect waves-light">Registrate</button>
        </form>
    </div>
</div>


        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
