﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ACARGO</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!-- Begin page -->
    <div class="accountbg"></div>
    <div class="wrapper-page">
        @RenderBody()
    </div>
<script src="~/js/jquery.min.js"></script>
            <script src="~/js/popper.min.js"></script>
            <script src="~/js/bootstrap.min.js"></script>
            <script src="~/js/modernizr.min.js"></script>
            <script src="~/js/detect.js"></script>
            <script src="~/js/fastclick.js"></script>
            <script src="~/js/jquery.slimscroll.js"></script>
            <script src="~/js/jquery.blockUI.js"></script>
            <script src="~/js/waves.js"></script>
            <script src="~/js/jquery.nicescroll.js"></script>
            <script src="~/js/jquery.scrollTo.min.js"></script>
            <script src="~/js/app.js"></script>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            @RenderSection("Scripts", required: false)
        </body>
</html>
