﻿ <!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
        <i class="fas fa-times"></i>
    </button>
    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="./index.html" class="logo">
                <img src="~/images/logo.png" height="70" alt="logo" />
            </a>
        </div>
    </div>
    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">Envios</li>
                <li>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-map-marker-plus"></i>
                        <span> Disponibles</span>
                    </a>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-calendar-clock"></i>
                        <span> Pendientes</span>
                    </a>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-road-variant"></i>
                        <span> En Ruta</span>
                    </a>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-truck-delivery"></i>
                        <span> Completados</span>
                    </a>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-files"></i><span> Sub-Categorias </span> <span class="pull-right"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-controller="Categories" asp-action="SubcategoriasList">Listado De Sub-Categorias</a></li>
                        <li><a asp-controller="Categories" asp-action="CrearSubcategoria">Crear Sub-Categoria</a></li>
                    </ul>
                </li>
                <li class="menu-title">Herramientas</li>
                <li>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-chart-histogram"></i>
                        <span> Reportes</span>
                    </a>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-account-multiple-outline"></i>
                        <span> Mis Choferes</span>
                    </a>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-truck"></i>
                        <span> Mi Flotilla</span>
                    </a>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-calculator"></i>
                        <span> Calculadora de Costos</span>
                    </a>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-wrench"></i>
                        <span> Configuracion</span>
                    </a>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-exit-to-app"></i>
                        <span> Salir</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div> <!-- end sidebarinner -->
</div>
<!-- Left Sidebar End -->
