﻿ <!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
        <i class="fas fa-times"></i>
    </button>

    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="./index.html" class="logo">
                <img src="~/images/logo.png" height="70" alt="logo" />
            </a>
        </div>
    </div>

    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">Envios</li>

                <li>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-map-marker-plus"></i>
                        <span> Realizar Envío</span>
                    </a>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-truck"></i>
                        <span> Envíos Pendientes</span>
                    </a>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-truck-delivery"></i>
                        <span> Completados</span>
                    </a>
                </li>
                <li class="menu-title">Herramientas</li>
                <li>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-calculator"></i>
                        <span> Cotizador</span>
                    </a>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-chart-histogram"></i>
                        <span> Reportes</span>
                    </a>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-contact-mail"></i>
                        <span> Mis Direcciones</span>
                    </a>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-wrench"></i>
                        <span> Mi Perfil</span>
                    </a>
                    <a href="./index.html" class="waves-effect">
                        <i class="mdi mdi-exit-to-app"></i>
                        <span> Salir</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div> <!-- end sidebarinner -->
</div>
<!-- Left Sidebar End -->
