﻿@model newAcargo.Models.FrontEndUI.SubcategoryViewModel;

@{
    ViewData["Title"] = "Crear Sub-Categoria";
    Layout = "~/Views/Shared/_layout_Administrator.cshtml";
}


<h2>Crear Nueva Sub-Categoria</h2>
<form asp-action="GuardarSubcategoria" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Contenido" class="control-label"></label>
                        <input asp-for="Contenido" class="form-control" />
                        <span asp-validation-for="Contenido" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => Model.SelectedCategoryId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(x => Model.SelectedCategoryId, new SelectList(Model.Categories, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "Categories" })
                        @Html.ValidationMessageFor(x => x.SelectedCategoryId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => Model.SelectedEmpaque, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(x => Model.SelectedEmpaque, new SelectList(Model.Empaques, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "Empaques" })
                        @Html.ValidationMessageFor(x => x.SelectedEmpaque, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="mini-stat-icon bg-light">
                                <i class="mdi mdi-cube-outline text-warning"></i>
                            </span>
                        </div>

                            <div class="col-md-6">
                                <div class="mini-stat-info text-right text-muted">
                                    <span class="counter text-warning">Medidas</span>
                                </div>
                            </div>
                        </div>
                    <br />
                    <div class="form-group row">
                        <label asp-for="Ancho" class="col-sm-7 col-form-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="Ancho" class="form-control form-control-sm" />
                            <span asp-validation-for="Ancho" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Alto" class="col-sm-7 col-form-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="Alto" class="form-control form-control-sm" />
                            <span asp-validation-for="Alto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Profundidad" class="col-sm-7 col-form-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="Profundidad" class="form-control form-control-sm" />
                            <span asp-validation-for="Profundidad" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(x => Model.SelectedUnidadId, htmlAttributes: new { @class = "col-sm-7 col-form-label" })
                        <div class="col-sm-5">
                            @Html.DropDownListFor(x => Model.SelectedUnidadId, new SelectList(Model.Unidades, "Value", "Text"), htmlAttributes: new { @class = "form-control form-control-sm", @id = "Categories" })
                            @Html.ValidationMessageFor(x => x.SelectedCategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


            <h3>Valor Predeterminados</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="mini-stat-icon bg-light">
                                        <i class="fas fa-weight text-primary"></i>
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <div class="mini-stat-info text-right text-muted">
                                        <span class="counter text-primary">Peso</span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="Peso" class="control-label"></label>
                                <input asp-for="Peso" class="form-control" />
                                <span asp-validation-for="Peso" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="mini-stat-icon bg-light">
                                        <i class="fas fa-images text-success"></i>
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <div class="mini-stat-info text-right text-muted">
                                        <span class="counter text-success">Imagen</span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="Image" class="control-label"></label>
                                <input type="file" class="form-control" name="ImageFile" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-block btn-info">
                    <i class="fa fa-plus"></i> Crear Subcategoria
                </button>
            </div>
</form>
<br />
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
