﻿@model newAcargo.Models.Cargas.ContenidoDeCarga

@{
    ViewData["Title"] = "Borrar Subcategoria";
    Layout = "~/Views/Shared/_layout_Administrator.cshtml";
}

<h4>Estas seguro que quieres borrar esta subcategoria?</h4>

<div class="card m-b-30">
    <div class="card-body">
        <table class="table">
            <tr>
                <td> @Html.DisplayNameFor(model => model.Contenido)</td>
                <td>@Html.DisplayFor(model => model.Contenido)</td>
            </tr>
            <tr>
                <td>Categoria</td>
                <td>@Html.DisplayFor(model => model.ShippingCategories.Nombre)</td>
            </tr>
        </table>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-default">Cancelar</a>
        </form>
    </div>
</div>
