﻿@model IEnumerable<newAcargo.Models.FrontEndUI.ShippingCategory>

@{
    ViewData["Title"] = "Categorias de Productos";
    Layout = "~/Views/Shared/_layout_Shippers.cshtml";
}

<h3>Categorias</h3>

<div class="row">
    <div class="col-md-3">
        <div class="mini-stat clearfix" style="background-color:#6DCDE3">        
                    <a asp-action="SubCategories" asp-route-id="5">
                        <img src="~/images/categories/a1.jpg" class="img-fluid" alt="Responsive image" />
                    </a>            
                <p class="mb-0 m-t-20 text-light">Cargas en General</p>          
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix" style="background-color:#6DCDE3">
            <a asp-action="SubCategories" asp-route-id="1">
                <img src="~/images/categories/a2.jpg" class="img-fluid" alt="Responsive image" />
            </a>
            <p class="mb-0 m-t-20 text-light">Materiales de Construccion</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix" style="background-color:#6DCDE3">
            <a asp-action="SubCategories" asp-route-id="2">
                <img src="~/images/categories/a3.jpg" class="img-fluid" alt="Responsive image" />
            </a>
            <p class="mb-0 m-t-20 text-light">Alimentos</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix" style="background-color:#6DCDE3">
            <a asp-action="SubCategories" asp-route-id="4">
                <img src="~/images/categories/a4.jpg" class="img-fluid" alt="Responsive image" />
            </a>
            <p class="mb-0 m-t-20 text-light">Mobiliarios</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="mini-stat clearfix" style="background-color:#6DCDE3">
            <a asp-action="SubCategories" asp-route-id="6">
                <img src="~/images/categories/a5.jpg" class="img-fluid" alt="Responsive image" />
            </a>
            <p class="mb-0 m-t-20 text-light">Piezas de Vehiculos</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix" style="background-color:#6DCDE3">
            <a asp-action="SubCategories" asp-route-id="3">
                <img src="~/images/categories/a6.jpg" class="img-fluid" alt="Responsive image" />
            </a>
            <p class="mb-0 m-t-20 text-light">Animales y Ganado</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix" style="background-color:#6DCDE3">
            <a asp-action="SubCategories" asp-route-id="7">
                <img src="~/images/categories/a7.jpg" class="img-fluid" alt="Responsive image" />
            </a>
            <p class="mb-0 m-t-20 text-light">Tecnologia</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix" style="background-color:#6DCDE3">
            <a asp-action="SubCategories" asp-route-id="8">
                <img src="~/images/categories/a8.jpg" class="img-fluid" alt="Responsive image" />
            </a>
            <p class="mb-0 m-t-20 text-light">Cargas Sueltas</p>
        </div>
    </div>
</div>