﻿@model IEnumerable<newAcargo.Models.Cargas.ContenidoDeCarga>

@{
    ViewData["Title"] = "ACARGO";
    Layout = "~/Views/Shared/_layout_Shippers.cshtml";
}


@foreach (var item in from i in Model.Select((value, index) => new { value, index }) group i.value by i.index / 4 into g select g)
{
<div class="row">

    @foreach (var subcat in item)
    {
        
        
            var ruta = "Subcategories/" + subcat.Id;
            var rutaImagen = ViewBag.ImageUrl + subcat.Image;
    <div class="col-md-3">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="">
                    <a asp-controller="Order" asp-action="Index" asp-route-id="@subcat.Id" >
                        <img src="@rutaImagen" width="208" alt="Responsive image" />
                    </a>
                </div>
                <h4 class="mt-0 header-title">@subcat.Contenido</h4>
            </div>
        </div>
    </div>
        }

    </div> <!-- End row -->
}

 