﻿@model IEnumerable<newAcargo.Models.FrontEndUI.SubcategoryListViewModel>


@{
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script src="~/js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#subcat-table').DataTable();

    });


</script>


<div class="card m-b-30 card-body">
    <div class="row">
        <div class="col-md-9">
            <h3 class="card-title font-20 mt-0">Listado de Subcategorias</h3>
        </div>
        <div class="col-md-3">
            <a asp-controller="Categories" asp-action="CrearSubcategoria" class="btn btn-info btn-block">Crear Sub-Categoria</a>
        </div>
    </div>
    <br />
    <table id="subcat-table" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>Contenidos</th>
                <th>Medidas</th>
                <th>Peso (Lbs)</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Contenido</td>
                    <td>@m.Alto X @m.Ancho X @m.Profundidad</td>
                    <td>@m.Peso</td>
                    <td>@m.Categoria</td>

                    <td><a asp-action="Edit" asp-route-id="@m.Id">Editar</a> | <a asp-action="Delete" asp-route-id="@m.Id">Borrar</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>

