﻿@model newAcargo.Models.Calculations.FullTruckLoad

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

<h2>Edit</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <div class="alert alert-warning" role="alert">
            <strong>Precaucion!</strong> Estos cambios deben ser editados con cuidado, ya que el programa no verifica duplicados en los parametros.
        </div>
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">Valores de Full Truck Load(FTL) </h4>
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label class="control-label">Desde</label>
                                <input asp-for="ValorDesde" class="form-control" />
                                <span asp-validation-for="ValorDesde" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Hasta</label>
                                <input asp-for="ValorHasta" class="form-control" />
                                <span asp-validation-for="ValorHasta" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Peso Maximo</label>
                                <input asp-for="PesoMaximo" class="form-control" />
                                <span asp-validation-for="PesoMaximo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Precio Por Km</label>
                                <input asp-for="PrecioPorKm" class="form-control" />
                                <span asp-validation-for="PrecioPorKm" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" value="Save" class="btn btn-danger btn-block"><i class="fa fa-edit"></i> Editar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                <div>
                    <a asp-action="Index">De vuelta a la Lista</a>
                </div>
<br/>
<br />

                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
