﻿@model IEnumerable<newAcargo.Models.Calculations.FullTruckLoad>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

<h2>Tabla de Valores de Full Truck Load(FTL)</h2>
<div class="row">
    <div class="col-md-12">
        <div class="card m-b-30">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <b>Desde</b>
                            </th>
                            <th>
                                <b>Hasta</b>
                            </th>
                            <th>
                                <b>Peso Maximo</b>
                            </th>
                            <th>
                               <b>Precio por Km</b>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValorDesde) CF
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValorHasta) CF
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PesoMaximo) Lbs
                                </td>
                                <td>
                                   $ @Html.DisplayFor(modelItem => item.PrecioPorKm)
                                </td>
                                <td>
                                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Editar</a> 
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>


