﻿@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_layout_Shippers.cshtml";
}

<script src="~/js/jquery.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        $(sumAllCargas);

        function sumAllCargas() {
            var sum = 0;

            $(".itemPesoVolumen").each(function () {
                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    sum += parseFloat(value);
                }
            });
            var num = sum.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
            $('#totalCargas').text(num);
        }



        function clearFields() {
            $('#contenido').val('');
            $('#empaque').val('');
            $('.totalcal').val('');
            $('#unidad').val('1');
            $('#apilable').val('Si');
            $('#total').val(0);
           
        }



        function getVolumeWeight() {
            var und = $('#unidad').val();
            var width = $('#ancho').val();
            var height = $('#alto').val();
            var lenght = $('#profundidad').val();
            var weight = $('#peso').val();
            var qty = $('#ctd').val();
            var total = 0;

            if (und == 1) {
                var vol = parseFloat(width) * parseFloat(height) * parseFloat(lenght) / 28418;
            }
            else {
                var vol = parseFloat(width) * parseFloat(height) * parseFloat(lenght) / 1728;
            }

            total = parseFloat(qty) * (vol + parseFloat(weight)) / 2;

            if (!isNaN(total)) {
                var result = total.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                $('#total').val(result);
            }
            else {
                $('#total').val(0);
            }
        }

        $('.totalcal').change(function () {
            getVolumeWeight();
        });

        $('#unidad').change(function () {
            getVolumeWeight();
        });

        $('#agregar').click(function () {
            var ancho = $('#ancho').val();
            var qty = $('#ctd').val();
            var contenido = $('#contenido').val();
            var apilable = $('#apilable').val();
            var empaque = $('#empaque').val();
            var total = $('#total').val();
            var html = '<tr>'
                + '<td>' + contenido + '</td>'
                + '<td>' + empaque + '</td>'
                + '<td>' + qty + '</td>'
                + '<td>' + apilable + '</td>'
                + '<td class="itemPesoVolumen">'
                + total + '</td>'
                + '<td>'
                + '<button class="btn btn-sm btn-danger delete-carga">' +
                '<i class="fa fa-trash"></i></button></td>'
                + '<td style="display: none">' + ancho + '</td></tr>';

            if (total == 0) {
                return;
            }

            $('#listadoDeCargas tr:last').after(html);
            clearFields();
            sumAllCargas();
        });

        $(document.body).on('click', '.delete-carga', function () {
            $(this).parent().parent().remove();
            sumAllCargas();
        });


        $('#saveCargas').click(function () {
            var table = $('#listadoDeCargas').tableToJSON();
            console.log(table);
        });
    });
</script>


<div class="card m-b-30 card-body">
    <h3 class="card-title font-20 mt-0">Agregar Nueva Carga</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="contenido">Contenido</label>
                <input type="text" class="form-control" id="contenido" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="empaque">Empaque</label>
                <input type="text" class="form-control" id="empaque" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="form-group">
                <input type="number" class="form-control input-sm totalcal" id="ancho" placeholder="W" />
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <input type="number" class="form-control input-sm totalcal" id="alto" placeholder="H" />
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <input type="number" class="form-control input-sm totalcal" id="profundidad" placeholder="D" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <select class="form-control totalcal" id="unidad">
                    <option value="1">cm</option>
                    <option value="2">pulg</option>
                </select>
            </div>
        </div>
        <div class="col-md-7">

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="peso">Peso</label>
                <input type="number" class="form-control totalcal" id="peso" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="ctd">Cantidad</label>
                <input type="number" class="form-control totalcal" id="ctd" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="apilable">Apilable</label>
                <select class="form-control" id="apilable">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
        <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="total">Total (Peso/Volumen)</label>
                    <input type="text" class="form-control" id="total" readonly />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-info btn-block" id="agregar">
                    <i class="fa fa-plus"></i> Agregar
                </button>
            </div>
        </div>
    </div>


<br />

<div class="card m-b-30 card-body">
    <h3 class="card-title font-20 mt-0">Listado de Cargas</h3>
    <table class="table" id="listadoDeCargas">
        <thead>
            <tr>
                <th>Contenido</th>
                <th>Empaque</th>
                <th>Unidades</th>
                <th>Apilable</th>
                <th>Total Peso/Vol</th>
                <th>Borrar</th>
                <th style="display:none;">Ancho</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<br />
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <div class="card m-b-30">
            <h4 class="card-header mt-0">Total Peso/Volumen</h4>
            <div class="card-body">
                <h4 class="card-title font-20 mt-0" id="totalCargas"></h4>
                <button class="btn btn-info btn-block" id="saveCargas">Siguiente <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>

<br />
<br />



