﻿@model newAcargo.Models.Calculations.FormulaResult

@{

}


<br />
<div class="card m-b-30">
    <div class="card-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Distancia</td>
                    <td>@Model.Distance Km</td>
                    <td>Aqui lo que se confirma mas que todo es que la formula asuma o no la distancia minima</td>
                </tr>
                <tr>
                    <td>Factor de Frecuencia</td>
                    <td>@Model.TotalFf</td>
                    <td>Es la suma de Factor Provincia origen + factor Provincia Destino. </td>
                </tr>
                <tr>
                    <td>Volumen Total</td>
                    <td>@Model.TotalVolume CF</td>
                    <td>Es la suma de total de todo el volumen(CF). Sirve para calcular la formula FTL</td>
                </tr>
                <tr>
                    <td>Peso Total</td>
                    <td>@Model.TotalWeight Lbs</td>
                    <td>Es la suma de total de todo el Peso en Libras. Sirve para calcular la formula FTL</td>
                </tr>
                <tr>
                    <td>Peso/Volumen Total</td>
                    <td>@Model.TotalPesoVolumen Lbs/Cm3</td>
                    <td>Es la suma de total de todo el Peso/Volumen</td>
                </tr>
                <tr>
                    <td>Volumen Por Distancia</td>
                    <td>@Model.VolumenByDistance</td>
                    <td>Es la Formula (TOTAL PESO VOLUMEN) X (DISTANCIA)/(FACTOR DIVISOR)</td>
                </tr>
                <tr>
                    <td>Subtotal Sin FTL</td>
                    <td><b>@Html.DisplayFor(model => model.SubtotalSinFtlMoney)</b></td>
                    <td>Es el resultado de (VOLUMEN POR DISTANCIA) X (FACTOR DE FRECUENCIA)</td>
                </tr>
            </tbody>
        </table>
        <br />
        <h4>Full Truck Load</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Peso Maximo</td>
                    <td>Desde</td>
                    <td>Hasta</td>
                    <td>Precio Por Km</td>
                    <td>SubTotal FTL</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.FullTruckLoad.Ftl.PesoMaximo</td>
                    <td>@Model.FullTruckLoad.Ftl.ValorDesde</td>
                    <td>@Model.FullTruckLoad.Ftl.ValorHasta</td>
                    <td>@Model.FullTruckLoad.Ftl.PrecioPorKm</td>
                    <td><b>@Html.DisplayFor(model => model.SubtotalConFtlMoney)</b></td>
                </tr>         
            </tbody>
            <tfoot>Razon de Eleccion de Tarifa: @Model.FullTruckLoad.Reason</tfoot>
        </table>
        <br />
        <h4>Subtotal Elegido: @Html.DisplayFor(model => model.SubTotalMoney)</h4>
    </div>
</div>