﻿@model newAcargo.Models.Calculations.QuoteValues

@{
    
}


<br />
<div class="card m-b-30">
    <div class="card-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Distancia</td>
                    <td>@Model.Distance Km</td>
                </tr>
                <tr>
                    <td>Cargos Recogida</td>
                    <td>@Model.CargoRecogida</td>
                </tr>
                <tr>
                    <td>Cargos Entrega</td>
                    <td>@Model.CargoEntrega</td>
                </tr>
                <tr>
                    <td><b>Subtotal</b></td>
                    <td><b>@Model.SubTotal</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>