﻿@model newAcargo.Models.Calculations.PriceCalculatorViewModel


@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_layout_Shippers.cshtml";
}

<script src="~/js/jquery.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        $(sumAllCargas);

        function sumAllCargas() {
            var sum = 0;

            $(".itemPesoVolumen").each(function () {
                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    sum += parseFloat(value);
                }
            });
            var num = sum.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
            $('#totalCargas').text(num);
        }



        function clearFields() {
            $('#contenido').val('');
            $('#empaque').val('');
            $('.totalcal').val('');
            $('#unidad').val('1');
            $('#apilable').val('Si');
            $('#total').val(0);

        }

        function getVolumeWeight() {
            var und = $('#unidad').val();
            var width = $('#ancho').val();
            var height = $('#alto').val();
            var lenght = $('#profundidad').val();
            var weight = $('#peso').val();
            var qty = $('#ctd').val();
            var total = 0;

            if (und == 1) {
                var vol = parseFloat(width) * parseFloat(height) * parseFloat(lenght) / 28418;
            }
            else {
                var vol = parseFloat(width) * parseFloat(height) * parseFloat(lenght) / 1728;
            }

            total = parseFloat(qty) * (vol + parseFloat(weight)) / 2;

            if (!isNaN(total)) {
                var result = total.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                $('#total').val(result);
            }
            else {
                $('#total').val(0);
            }
        }

        function getVolumeWeightValue() {
            var und = $('#unidad').val();
            var width = $('#ancho').val();
            var height = $('#alto').val();
            var lenght = $('#profundidad').val();
            var weight = $('#peso').val();
            var qty = $('#ctd').val();
            var total = 0;

            if (und == 1) {
                var vol = parseFloat(width) * parseFloat(height) * parseFloat(lenght) / 28418;
            }
            else {
                var vol = parseFloat(width) * parseFloat(height) * parseFloat(lenght) / 1728;
            }

            total = parseFloat(qty) * (vol + parseFloat(weight)) / 2;

            if (!isNaN(total)) {
                var result = total.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                return result;
            }
            else {
                return 0;
            }

        }


        function getDimensions() {
            var und = $('#unidad').val();
            var width = $('#ancho').val();
            var height = $('#alto').val();
            var lenght = $('#profundidad').val();
            var qty = $('#ctd').val();

            if (und == 1) {

                return parseFloat(width) * parseFloat(height) * parseFloat(lenght) / 28418;
            }

            return parseFloat(width) * parseFloat(height) * parseFloat(lenght) / 1728;
        }



        $('.totalcal').change(function () {
            getVolumeWeight();
        });

        $('#unidad').change(function () {
            getVolumeWeight();
        });

        $('#agregar').click(function () {
            var peso = $('#peso').val();
            var dimensiones = getDimensions();
            var qty = $('#ctd').val();
            var contenido = $('#contenido').val();
            var apilable = $('#apilable').val();
            var empaque = $('#empaque option:selected').text();
            var total = getVolumeWeightValue();
            var totalPesoVolumen = getVolumeWeightValue();
            var html = '<tr class="item">'
                + '<td>' + contenido + '</td>'
                + '<td>' + empaque + '</td>'
                + '<td>' + qty + '</td>'
                + '<td>' + apilable + '</td>'
                + '<td class="itemPesoVolumen">'
                + total + '</td>'
                + '<td>'
                + '<button class="btn btn-sm btn-danger delete-carga">' +
                '<i class="fa fa-trash"></i></button></td>'
                + '<td style="display: none" class="val_peso">' + peso + '</td>'
                + '<td style="display: none" class="val_dimensiones">' + dimensiones + '</td>'
                + '<td style="display: none" class="val_pesoVolumen">'+totalPesoVolumen+'</td></tr > ';

            if (total == 0) {
                return;
            }

            $('#listadoDeCargas tr:last').after(html);
            clearFields();
            sumAllCargas();
        });

        $(document.body).on('click', '.delete-carga', function () {
            $(this).parent().parent().remove();
            sumAllCargas();
        });


        $('#saveCargas').click(function () {
             GetPrices();

        });

        function sumColumns(className)
        {
            var sum = 0;
            $(className).each(function () {
                
                var value = $(this).text();
                var total = parseFloat(value.replace(/,/g, ''));
                if (!isNaN(total) ) {
                    sum += parseFloat(total);
                }
            });

            return sum.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
        }

        function GetPrices() {
            var peso = sumColumns('.val_peso');
            var dimensiones = sumColumns('.val_dimensiones');
            var pesoVolumen = sumColumns('.val_pesoVolumen');
            var origen = $('#Origen').val();
            var destino = $('#Destino').val();

            $.ajax({
                url: "@Url.Action("RenderFormulaResults", "PriceCalculator")",
                method: 'POST',
                data: {
                    "Peso": peso,
                    "Dimensiones": dimensiones,
                    "PesoVolumen": pesoVolumen,
                    "ProvinciaOrigen": origen,
                    "ProvinciaDestino": destino
                },
               success: function (data) {
                   $('#totalize_div').html(data);
               },
               error: function (data) {
                  alert("e");
               }
            });
        }



    });
</script>

<div class="row">
    <div class="col-md-6">
        <div class="card m-b-30">
            <h4 class="card-header mt-0">Agregar Cargas</h4>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="contenido">Contenido</label>
                            <input type="text" class="form-control form-control-sm" id="contenido" value="Carga de Prueba" readonly/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => Model.SelectedEmpaqueId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(x => Model.SelectedEmpaqueId, new SelectList(Model.Empaques, "Value", "Text"), htmlAttributes: new { @class = "form-control form-control-sm", @id = "empaque" })
                            @Html.ValidationMessageFor(x => x.SelectedEmpaqueId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <label>Medidas</label>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="number" class="form-control form-control-sm totalcal" id="ancho" placeholder="W" value="0" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="number" class="form-control form-control-sm totalcal" id="alto" placeholder="H" value="0" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="number" class="form-control form-control-sm totalcal" id="profundidad" placeholder="D" value="0" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control form-control-sm totalcal" id="unidad">
                                <option value="1">cm</option>
                                <option value="2">pulg</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="peso">Peso(Lbs)</label>
                            <input type="number" class="form-control  form-control-sm totalcal" id="peso" value="0" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ctd">Cantidad</label>
                            <input type="number" class="form-control  form-control-sm totalcal" id="ctd" value="1" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="apilable">Apilable</label>
                            <select class="form-control form-control-sm" id="apilable">
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="total">Total (Peso/Volumen)</label>
                            <input type="text" class="form-control form-control-sm" id="total" readonly />
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary waves-effect waves-light btn-sm btn-block" id="agregar">
                    <i class="fa fa-plus"></i> Agregar
                </button>
            </div>
        </div>
        
    </div>
    <div class="col-md-6">
        <div class="card m-b-30">
            <h4 class="card-header mt-0">Listado de Cargas</h4>
            <div class="card-body">
                <table class="table" id="listadoDeCargas">
                    <thead>
                        <tr>
                            <th>Contenido</th>
                            <th>Empaque</th>
                            <th>Unidades</th>
                            <th>Apilable</th>
                            <th>Peso/Vol</th>
                            <th>Borrar</th>
                            <th style="display:none;">Peso</th>
                            <th style="display:none;">Dimensiones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="row">
                    <div class="col-md-8" style="text-align:right">
                        <b>Total Peso/Volumen:</b>
                    </div>
                    <div class="col-md-4" id="totalCargas" style="text-align:right;font-weight:bold;"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card m-b-30">
                    <h4 class="card-header mt-0">Desde</h4>
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(x => Model.SelectedOrigen, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(x => Model.SelectedOrigen, new SelectList(Model.Origen, "Value", "Text"), htmlAttributes: new { @class = "form-control form-control-sm", @id = "Origen" })
                            @Html.ValidationMessageFor(x => x.SelectedOrigen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card m-b-30">
                    <h4 class="card-header mt-0">Hasta</h4>
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(x => Model.SelectedDestino, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(x => Model.SelectedDestino, new SelectList(Model.Destino, "Value", "Text"), htmlAttributes: new { @class = "form-control form-control-sm", @id = "Destino" })
                            @Html.ValidationMessageFor(x => x.SelectedDestino, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-success waves-effect waves-light btn-lg btn-block" id="saveCargas"><i class="fa fa-calculator"></i> Cotizar</button>
    </div>
</div>
<h4>Ver Valores de Formula</h4>
<div id="totalize_div"></div>







