﻿@model newAcargo.Models.Calculations.FactorProvincia

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

<h4>Editar Valores de @ViewBag.Provincia</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Origen" class="control-label"></label>
                                <input asp-for="Origen" class="form-control" />
                                <span asp-validation-for="Origen" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Destino" class="control-label"></label>
                                <input asp-for="Destino" class="form-control" />
                                <span asp-validation-for="Destino" class="text-danger"></span>
                            </div>
                            <input asp-for="ProvinciaId" type="hidden" />
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary btn-block" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">De Vuelta a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
