﻿@model IEnumerable<newAcargo.Models.Calculations.FactorProvincia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script src="~/js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#provi_table').DataTable({
            paging: false,
            bInfo: false
            
        });
        
    });


</script>


<h3>Factores de Provincia</h3>
<div class="row">
    <div class="col-md-12">
        <div class="card m-b-30">
            <div class="card-body">
                <table class="table" id="provi_table">
                    <thead>
                        <tr>
                            <th>Provincia</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.Provincia.Capital, @item.Provincia.NombreProvincia</td>
                                <td>
                                    @item.Origen
                                </td>
                                <td>
                                    @item.Destino
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

