﻿@model IEnumerable<newAcargo.Models.Cargas.Carga>


<table class="table">
    <thead>
        <tr>
            <th>Contenido</th>
            <th>Empaque</th>
            <th>Unidades</th>
            <th>Apilable</th>
            <th>Total Peso/Vol</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null )
        {
            foreach(var item in Model)
            {
        <tr>
            <td>@item.Contenido.Contenido</td>
            <td>@item.Empaque</td>
            <td>@item.Unidad</td>
            <td>@item.PesoVolumen</td>
            <td><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button></td>
        </tr>
            }
        }

    </tbody>
    </table>