﻿@model newAcargo.Models.Cargas.OrderViewModel


@{
    ViewData["Title"] = "aCargo - Nueva Orden";
    Layout = "~/Views/Shared/_layout_Shippers.cshtml";
}

<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.tabletojson.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        getCargas();

        function ObtainContenido() {
            item = {};
            item['Contenido'] = $('#contenido').val();
            item['Peso'] = $('#peso').val();
            item['Profundidad'] = $('#profundidad').val();
            item['Ancho'] = $('#ancho').val();
            item['Alto'] = $('#alto').val();
            return item;
        }

        function ObtainCarga() {
            item = {};
            item['Apilable'] = $('#apilable').val();
            item['Cantidad'] = $('#ctd').val();
            item['OrderId'] = $('input[name="hiddenorderId"]').val();
            item['PesoVolumen'] = $('#total').val();
            item['Peso'] = $('#peso').val();
            item['Profundidad'] = $('#profundidad').val();
            item['Ancho'] = $('#ancho').val();
            item['Alto'] = $('#alto').val();
            return item;
        }



        function getCargas() {
           var url = "@Url.Action("RenderCargasList", "Order")";
           var Id = $('input[name="hiddenorderId"]').val();
           var data = { Id : Id };
           $.post(url, data).done(function (data) {
               $('#cargaList').html(data);
           });
        }

        function saveCargaRow(carga, ContenidoDeCarga, unidad, empaque) {
            $.ajax({
               url: "@Url.Action("SaveCargaRow", "Order")",
                method: 'POST',
                data: { "carga": carga, "contenido": ContenidoDeCarga, "unidad": unidad, "empaque": empaque },
               success: function (data) {
                   $('#cargaList').html(data);
               },
               error: function (data) {
                  alert("e");
               }
            });
        }

        $('#agregar').click(function () {
            var carga = ObtainCarga();
            var ContenidoDeCarga = ObtainContenido();
            var unidad = $('#unidad').val();
            var empaque = $('#empaque').val();
            saveCargaRow(carga, ContenidoDeCarga, unidad, empaque);
        });
        


        function getVolumeWeight() {
            var und = $('#unidad').val();
            var width = $('#ancho').val();
            var height = $('#alto').val();
            var lenght = $('#profundidad').val();
            var weight = $('#peso').val();
            var qty = $('#ctd').val();
            var total = 0;

            if (und == 1) {
                var vol = parseFloat(width) * parseFloat(height) * parseFloat(lenght) / 28418;
            }
            else {
                var vol = parseFloat(width) * parseFloat(height) * parseFloat(lenght) / 1728;
            }

            total = parseFloat(qty) * (vol + parseFloat(weight)) / 2;

            if (!isNaN(total)) {
                var result = total.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                $('#total').val(result);
            }
            else {
                $('#total').val(0);
            }
        }

        $('.totalcal').change(function () {
            getVolumeWeight();
        });

        $('#unidad').change(function () {
            getVolumeWeight();
        });


    });
</script>


<div class="row">
    <div class="col-md-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div id="cargas-entry">
                    <div class="card card-body">
                        <h4 class="mt-0 header-title">Agregar Cargas</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="SubCategoria.Contenido"></label>
                                    <input asp-for="SubCategoria.Contenido" class="form-control" id="contenido" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(x => Model.SelectedEmpaque, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(x => Model.SelectedEmpaque, new SelectList(Model.Empaques, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "empaque" })
                                    @Html.ValidationMessageFor(x => x.Empaques, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="SubCategoria.Peso">Peso(Lbs)</label>
                                    <input type="number" asp-for="SubCategoria.Peso" class="form-control totalcal" id="peso" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="SubCategoria.Ancho"></label>
                                    <input type="number" asp-for="SubCategoria.Ancho" class="form-control input-sm totalcal" id="ancho" placeholder="W" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="SubCategoria.Alto"></label>
                                    <input type="number" asp-for="SubCategoria.Alto" class="form-control input-sm totalcal" id="alto" placeholder="H" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="SubCategoria.Profundidad"></label>
                                    <input type="number" asp-for="SubCategoria.Profundidad" class="form-control input-sm totalcal" id="profundidad" placeholder="D" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.LabelFor(x => Model.Unidades, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(x => Model.SelectedUnidadDeMedida, new SelectList(Model.Unidades, "Value", "Text"), htmlAttributes: new { @class = "form-control totalcal", @id = "unidad" })
                                    @Html.ValidationMessageFor(x => x.Unidades, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="ctd">Cantidad</label>
                                    <input type="number" class="form-control totalcal" id="ctd" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="apilable">Apilable</label>
                                    <select class="form-control" id="apilable">
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="total">Total (Peso/Volumen)</label>
                                    <input type="text" class="form-control" id="total" readonly />
                                </div>
                                <input type="hidden" value="@Model.Order.Id" name="hiddenorderId"/>
                                <button type="button" class="btn btn-success btn-block btn-lg waves-effect" id="agregar">
                                    <i class="fa fa-plus"></i> Agregar
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div id="cargaList"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary btn-block" id="next-step1"><i class="fa fa-arrow-right"></i> Siguiente</button>
    </div>
</div>
<div id="error_messages"></div>


