﻿@model newAcargo.Models.Cargas.TipoDeEmpaque

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

<h2>Crear Nuevo Empaque</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Nombre</label>
                                <input asp-for="Empaque" class="form-control" />
                                <span asp-validation-for="Empaque" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                        <a asp-action="Index">De vuelta a la Lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="card-title font-20 mt-0">¿Que es un Empaque?</h4>
                <h6 class="card-subtitle text-muted">Entiendelo antes de Crearlos</h6>
            </div>
            <img class="img-fluid" src="~/images/empaques.jpg" alt="Card image cap" />
            <div class="card-body">
                <p class="card-text">
                    Los Empaques son las unidades en las que viene empaquetados los items que el cliente va a contratar llevar. Por ejemplo Varillas, fundas, Vacas etc..
                </p>
                <a href="#" class="card-link">Ir a Ayuda</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
