﻿@model newAcargo.Models.Cargas.TipoDeEmpaque

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}




<div class="card m-b-30">
    <div class="card-body">
        <h4>
            Borrar empaque <i>"@Html.DisplayFor(model => model.Empaque)"</i> ?
        </h4>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            
        </form>
    </div>
</div>
<a asp-action="Index">De Vuelta a la lista</a>
