﻿@model newAcargo.Models.Cargas.TipoDeEmpaque

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

<h2>Editar</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Empaque" class="control-label"></label>
                <input asp-for="Empaque" class="form-control" />
                <span asp-validation-for="Empaque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">De vuelta a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
