﻿@model IEnumerable<newAcargo.Models.Cargas.TipoDeEmpaque>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Administrator.cshtml";
}

<h2>Listados de Empaques</h2>

<p>
    <a asp-action="Create" class="btn btn-info">Crear Nuevo</a>
</p>

<div class="row">
    <div class="col-md-6">

        <div class="card m-b-30">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                <b>Empaques</b> 
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Empaque)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Editar</a> 
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Borrar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <div class="col-md-6">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="card-title font-20 mt-0">¿Que es un Empaque?</h4>
                <h6 class="card-subtitle text-muted">Entiendelo antes de Crearlos</h6>
            </div>
            <img class="img-fluid" src="~/images/empaques.jpg" alt="Card image cap" />
            <div class="card-body">
                <p class="card-text">
                    Los Empaques son las unidades en las que viene empaquetados los items que el cliente va a contratar llevar. Por ejemplo el empaque de <b>Varillas</b> es un <b>ATADO</b>.
                </p>
                <a href="#" class="card-link">Ir a Ayuda</a>

            </div>
        </div>
    </div>

</div>

    
